/* CORES
	- Cor primária Zipster  #4ACF74
	- Cor das bordas #DDDDDD
	- Cor padrão dos textos #666666 
*/
.ckt-bottom-space {
	padding-bottom: 130px;
}
.tt-checkout {
	font-size: 20px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}
.subtt-checkout {
	font-size: 16px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

/*STEPS*/
.ctn-ckt-steps {
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
	color: #666;
	margin: -60px 0 40px 0;
	padding: 20px 0;
}
.ckt-steps {
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.ckt-steps li {
	display: table-cell;
	position: relative;
	text-align: center;
	width: 33.3333333%;
}
.ckt-steps li:after {
	content: "\e905";
	color: #ddd;
	display: block;
	font-family: "zipster";
	font-size: 32px;
	position: absolute;
	right: 0;
	top: 0;
}
.ckt-steps li:last-child:after {
	display: none;
}
.ckt-steps .stp-num {
	color: #ddd;
	display: inline-block;
	font-size: 48px;
	font-weight: 100;
	line-height: .8;
	margin-right: 15px;
	vertical-align: middle;
}
.ckt-steps strong {
	display: inline-block;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
	vertical-align: middle;
}
.ckt-steps small {
	display: block;
	font-size: 12px;
	color: #999;
}
.ckt-steps li.active .stp-num,
.ckt-steps li.active strong {
	color: #4bcf75;
}

/*CARRINHO*/
.ckt-cart {
	padding-bottom: 20px;
}

/*ENTREGA*/
.ckt-delivery,
.ckt-actions {
	border-top: 1px solid #ddd;
	padding: 40px 0;
}
.form-agendamento {
	margin-top: 8px;
	margin-bottom: 20px;
}

/*CUPOM*/
.coupon {
	border: 1px dashed #4bcf75;
	border-radius: 3px;
	color: #999;
	padding: 20px;
	position: relative;
}
.coupon .btn-rmv {
	border: none;
	position: absolute;
	right: 10px;
	top: 10px;
}
.coupon .btn-rmv:hover {
	color: #333;
}

/*PAGAMENTO*/
.pymt-tabs {
	display: table;
	width: 100%;
	margin: 0 0 30px 0;
	padding: 0;
}
.pymt-tabs li {
	border: 1px solid #ccc;
	border-right-width: 0;
	display: table-cell;
	padding: 15px;
	vertical-align: middle;
	width: 25%;
}
.pymt-tabs li:first-child {
	border-radius: 3px 0px 0px 3px;
}
.pymt-tabs li:last-child {
	border-radius: 0px 3px 3px 0px;
	border-right-width: 1px;
}
.pymt-tabs li a {
	color: #999;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.pymt-tabs li:hover a {
	color: #4bcf75;
}
.pymt-tabs li.active,
.pymt-tabs li.active:hover {
	background:  #4bcf75;
	border-color: #4bcf75;
	color: #fff;
}
.pymt-tabs li.active a {
	color: #fff;
}
.cvv {
	display: table;
	width: 100%;
}
.cvv .form-control {
	display: table-cell;
}
.cvv .img-cvv {
	display: table-cell;
	padding-left: 10px;
	vertical-align: top;
	width: 75px;
}
.car-cred {
	border-top: 1px solid #ddd;
	padding: 40px 0;
	position: relative;
}
.car-cred:first-of-type {
	border-top: none;
	padding: 0;
	padding-bottom: 30px;
}
.car-cred .btn-rmv {
	position: absolute;
	right: 0;
	top: 20px;
}
 
/*TOTAL*/
.ttl,
.ttl-grl,
.ttl-card {
	color: #999;
	display: inline-block;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 300;
	vertical-align: middle;
}
.ttl strong,
.ttl-grl strong,
.ttl-card strong {
	color: #111;
	display: block;
	font-size: 18px;
	font-weight: 300;
}
.ttl-grl strong {
	font-weight: bold;
}
.sld-cdt {
	font-size: 24px;
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
}

/*FOOTER*/
.z-ft-ckt {
	background: #fff;
	border-top: 1px solid #eee;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	padding: 30px;
	position: fixed;
	width: 100%;
	z-index: 99;
}