@media (max-width: 991px) {
	.z-hd-01 {
		margin-bottom: 30px;
	}
	.hd-pg,
	.ctn-ckt-steps,
	.hd-rest-pg {
		margin: -30px 0 30px 0;
	}
	.z-ft-01 {
		margin-top: 30px;
	}
	.btn-primary.btn-round {
		min-width: 0;
	}
	
	/*CHECKOUT*/
	.z-ft-ckt {
		padding: 20px;
	}
}
@media (max-width: 767px) {
	/*HEADER*/
	.z-hd-01 {
		padding: 10px 0;
	}
	.z-logo a {
		background-size: 80px 24px;
		height: 24px;
		width: 80px;
	}
	.lnk-hd-01 {
		line-height: 24px;
	}
	.lnk-hd-01 [class^="i-"], 
	.lnk-hd-01 [class*="i-"]{
		font-size: 18px;
	}
	.hd-pg {
		padding: 10px;
	}
	.hd-pg h2 {
		font-size: 16px;
		line-height: 1.6;
	}
	.acc-menu,
	.mini-profile-pic {
		height: 24px;
	}
	.mini-profile-pic {
		width: 24px;
	}
	
	/* FORM */
	.sep-form { 
		padding: 20px 0;
	}
	
	/*INPUT*/
	.ipt-grp {
		margin-bottom: 0;
	}
	.ipt-grp .col-ipt-grp {
		display: block;
		margin-bottom: 10px;
	}
	.ipt-grp .col-ipt-grp .form-control {
		border-radius: 3px !important;
		border-right-width: 1px;
	}
	
	
	/*CONTEUDO*/
	
	/*Painel do restaurante*/
	.logo-pnl {
		left: 15px;
	}
	.info-pnl-rest {
		padding: 15px;
		padding-left: calc(30% + 30px);
	}
	
	/*MODAL*/
	.modal-dialog {
		margin: 0;
	}
	.modal-acc .modal-content {
		padding: 30px 20px;
	}
	
	/*FOOTER*/
	.z-ft-01 {
		padding: 20px 0;
	}
	.lnks-ft {
		margin-bottom: 30px;
	}
	.lnks-social {
		border-top: 1px solid #ddd;
		padding-top: 20px;
		text-align: center;
	}
	.z-ft-copy {
		padding: 20px 0;
	}
	
	/*CHECKOUT*/
	.ckt-steps .stp-num {
		font-size: 20px;
		display: block;
		margin: 0;
	}
	.ckt-steps strong {
		font-size: 14px;
	}
	.ckt-steps li:after {
		font-size: 18px;
	}
	.z-ft-ckt {
		padding: 8px 10px;
	}
	.z-ft-ckt .pull-right {
		float: none;
		text-align: center;
		width: 100%;
	}
	.z-ft-ckt .btn-primary {
		display: block;
		padding: 10px 15px;
		width: 100%;
	}
	.ttl,
	.ttl-grl {
		text-align: left;
		margin-right: 8px;
		margin-bottom: 10px;
		font-size: 12px;
	}
	.ttl strong,
	.ttl-grl strong {
		display: block;
		font-size: 14px;
	}
	.pymt-tabs li {
		padding: 10px 5px;
	}
	.pymt-tabs li a {
		font-size: 10px;
	}
	
	/*RESTAURANT*/
	.bar-hd-rest-pg {
		padding: 10px 0;
	}
	.ctn-rest-logo {
		min-height: 50px;
	}
	.bar-hd-rest-pg .dtl-rest,
	.bar-hd-rest-pg {
		min-height: 0;
	}
	.bar-hd-rest-pg .dtl-rest > span {
		display: block;
		padding: 0 0 5px 0;
		vertical-align: top;
	}
	.ctn-rest-tabs {
		border: none;
		position: relative;
	}
	.rest-tabs {
		border-bottom: 1px solid #ddd;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		height: 45px;
		position: relative;
		white-space: nowrap;
		width: 100%;
	}
	.ctn-rest-tabs:before {
		/*background-color: #ffffff;*/
		background-image: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 0.00)), to(rgba(255, 255, 255, 1.00)));
		background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
		background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
		background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
		background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
		background-image: linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ffffff', EndColorStr='#ffffff');
		content: "";
		height: 45px;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		z-index: 1;
	}
	.rest-tabs li.active:before,
	.rest-tabs li.active:after {
		display: none;
	}
	.rest-tabs li a {
		line-height: 40px;
		padding: 0 10px;
	}
	.rest-tabs li:last-child a {
		padding-right: 40px;
	}
}
@media (max-width: 400px) {
	.pnl-rest {
		padding-bottom: 70%;
	}
}
@media (max-width: 300px) {
	.ckt-steps strong {
		display: none;
	}
}