/* CORES
	- Cor primária Zipster  #4ACF74
	- Cor das bordas #DDDDDD
	- Cor padrão dos textos #666666 
*/


/***************************
ICONES
***************************/
@import url("../fonts/zipster/style.css");

/***************************
FONTS
***************************/
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-100.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-100.woff") format("woff"), 
		 url("../fonts/MuseoSans-100.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-100.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-300.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-300.woff") format("woff"), 
		 url("../fonts/MuseoSans-300.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-300.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-500.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-500.woff") format("woff"), 
		 url("../fonts/MuseoSans-500.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-500.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-700.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-700.woff") format("woff"), 
		 url("../fonts/MuseoSans-700.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-700.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

/***************************
APLICAÇÕES GERAIS
***************************/
body {
	font-family: "Museos Sans";
	font-weight: 300;
}
a {
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
}

label {
	font-weight: 300;
	text-align: left;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 100;
}
p {
	font-weight: 300;
}

/***************************
FORM
***************************/
.form-group {
	margin-bottom: 20px;
}
.radio-inline, 
.checkbox-inline {
	font-weight: 300;
}
.sep-form {
	display: block;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0;
}
.leg-form-group {
	color: #999;
	font-size: 18px;
	font-weight: 100;
}
.esqueci {
	display: block;
	margin-top: 20px;
}
.lead {
	font-weight: 100;
}

/***************************
BOTOES
***************************/
.btn {
	font-weight: 300;
	text-transform: uppercase;
	border: none;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.btn:focus,
.btn:active {
	outline: none;
}
.btn-facebook {
	background: #3b5998;
	color: #fff;
}
.btn-facebook:hover {
	color: #fff;
	background: #334e87;
}
.btn-facebook:focus {
	color: #fff;
	background: #2e4474;
}
.btn-facebook .i-facebook {
	margin-right: 8px;
}
.btn-facebook.btn-lg {
	font-size: 14px;
}
.btn-lg, 
.btn-group-lg > .btn {
	font-size: 16px;
	padding: 15px;
}

/***************************
INPUTS
***************************/
.form-control {
	color: #666;
	box-shadow: none;
	font-weight: 300;
	 -webkit-appearance: none;
    -moz-appearance: none;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.input-lg {
	font-size: 16px;
}
.ipt-grp {
	display: table;
	width: 100%;
	margin-bottom: 20px;
}
.ipt-grp .col-ipt-grp {
	display: table-cell;
	width: auto;
}
.ipt-grp .col-sel-grp {
	display: table-cell;
	padding-right: 10px;
	vertical-align: top;
	width: auto;
}
.ipt-grp .col-sep-grp {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: auto;
}
.ipt-grp .col-sep-grp span {
	background: #f9f9f9;
	color: #999;
	display: block;
	border: 1px solid #ccc;
	border-right: none;
	line-height: 32px;
	padding: 0 5px;
}
.ipt-grp .col-ipt-grp .form-control{
	display: inherit;
	border-radius: 0;
	border-right-width: 0;
}
.ipt-grp .col-ipt-grp:first-child .form-control {
	border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
.ipt-grp .col-ipt-grp:last-child .form-control {
	border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-right: 1px solid #ccc;
}
.ipt-grp .col-ipt-grp .btn {
	border-radius: 0;
}

/***************************
ALERTAS
***************************/
.alert {
  padding: 15px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
}
.alert-dismissable, 
.alert-dismissible {
	padding-right: 35px;	
}
.alert .close {
	color: #fff !important;
	font-weight: 100;
	text-shadow: none;
}
.alert-success {
  background-color: #64D575;
  color: #fff;
}
.alert-success hr {
  border-top-color: #fff;
}
.alert-success .alert-link {
  color: #fff;
}
.alert-info {
  background-color: #77CFF3;
  color: #fff;
}
.alert-info hr {
  border-top-color: #fff;
}
.alert-info .alert-link {
  color: #fff;
}
.alert-warning {
  background-color: #FFF574;
  color: #7F7F39;
}
.alert-warning hr {
  border-top-color: #7F7F39;
}
.alert-warning .alert-link {
  color: #fff;
}
.alert-danger {
  background-color: #FF5E4F;
  color: #fff;
}
.alert-danger hr {
  border-top-color: #fff;
}
.alert-danger .alert-link {
  color: #fff;
}

/***************************
HEADER PRINCIPAL
***************************/
.z-hd-01 {
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	margin-bottom: 60px;
}
.z-logo {
	margin: 0;
	padding: 0;
	float: left;
}
.z-logo a {
	background: url(../img/logo-zipster.svg) center center no-repeat;	
	color: transparent;
	display: block;
	font-size: 0;
	height: 30px;
	width: 100px;
}
.lnk-hd-01 {
	color: #999;
	font-weight: 300;
	line-height: 30px;
}
.lnk-hd-01 [class^="i-"], 
.lnk-hd-01[class*="i-"]{
	font-size: 20px;
	vertical-align: sub;
}
/*header página*/
.hd-pg {
	border-bottom: 1px solid #ddd;
	color: #666;
	margin: -60px 0 60px 0;
	padding: 30px;
	text-transform: uppercase;
}
.hd-pg h2 {
	font-size: 18px;
	font-weight: 100;
	line-height: 1.3;
	margin: 0;
}
.hd-pg strong {
	font-weight: 900;
	white-space: nowrap;
}
/***************************
CONTEUDO
***************************/
/* Paginas */
.spc-v-pag {
	min-height: 25vh;
}

/* Painel restaurante */
.pnl-rest {
	background:#f9f9f9;
	border-radius: 3px;
	border: 1px solid transparent;
	color: #444;
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 60%;
	position: relative;	
	width: 100%;
}
.pnl-rest:hover {
	border-color: #4ACF74;
}
.pnl-rest .capa-rest {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.logo-pnl {
	border-radius: 3px;
	bottom: 50%;
	height: auto;
	left: 30px;
	overflow: hidden;
	position: absolute;
	width: 30%;
	max-width: 150px;
}
.info-pnl-rest {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 0px 0px 3px 3px;
	bottom: -1px;
	min-height: 40%;
	left: 0;
	padding: 30px;
	padding-left: calc(30% + 60px);
	position: absolute;
	width: 100%;	
}
.info-pnl-rest p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.dtl-rest > span {
	color: #666;
	display: block;
	font-weight: 100;
	line-height: 1.6;
}

/*Painel restaurante 3 col*/
.col-md-4 .pnl-rest {
	padding-bottom: 72%;
}
.col-md-4 .pnl-rest .logo-pnl {
	bottom: 50%;
	left: 20px;
	width: 30%;
	max-width: 150px;
}
.col-md-4 .pnl-rest .info-pnl-rest {
	padding: 20px;
	padding-left: calc(30% + 40px);
}

/***************************
MODAL
***************************/
.modal {
	font-weight: 300;
}
.modal .close-modal {
    background: none;
    border-radius: 100%;
    box-sizing: content-box;
    border: 1px solid #666;
    color: #666;
    font-size: 14px;
    float: none;
    height: 28px;
    line-height: 28px;
    margin-top: 2px;
    opacity: 0.2;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 28px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    
}
.modal .close-modal:hover {
	opacity: 0.6;
}
.modal-content {
	border: none;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);
}

/* Modal conta */
.modal-acc {
	color: #666;
	font-weight: 300;
	text-align: center;
}
.modal-acc label {
	text-align: left;
}
.modal-acc .modal-content {
	padding: 60px 40px;
}
.modal-acc .modal-title {
	font-size: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.modal-acc .modal-body {
	padding: 0;
}
.owl-carousel .item {
	width: 100%;
}

/***************************
FOOTER
***************************/
.z-ft-01 {
	margin-top: 60px;
}
.z-ft-nav {
	background: #F9F9F9;
	padding: 40px 0;
	width: 100%;
}
.lnks-ft h6,
.lnks-social h6 {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.lnks-ft > ul {
	list-style: none;
	padding: 0;
}
.lnks-ft > ul > li {
	margin-bottom: 10px;
}
.lnks-ft a {
	color: #666;
	display: block;
	font-weight: 300;
}
.lnks-ft a:hover {
	color: #4bcf75;
}
.lnks-social a {
	background: #ccc;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}
.lnks-social a > span {
	line-height: 32px;
}
.lnks-social a:hover,
.lnks-social a:active,
.lnks-social a:focus {
	background: #999;
}
.z-ft-copy {
	color: #999;
	line-height: 1.8;
	padding: 40px 0;
}
.z-ft-copy a {
	color: #666;
}
.z-ft-copy a:hover {
	color: #4bcf75;
}
/***************************
FUNCIONAIS
***************************/
.m-top {
	margin-top: 20px;
}