/* CORES
	- Cor primária Zipster  #4ACF74
	- Cor das bordas #DDDDDD
	- Cor padrão dos textos #666666 
*/


/***************************
ICONES
***************************/
@import url("../fonts/zipster/style.css");

/***************************
FONTS
***************************/
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-100.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-100.woff") format("woff"), 
		 url("../fonts/MuseoSans-100.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-100.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-300.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-300.woff") format("woff"), 
		 url("../fonts/MuseoSans-300.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-300.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-500.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-500.woff") format("woff"), 
		 url("../fonts/MuseoSans-500.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-500.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Museos Sans";
	src: url("../fonts/MuseoSans-700.eot");
	src: local("☺"), 
		 url("../fonts/MuseoSans-700.woff") format("woff"), 
		 url("../fonts/MuseoSans-700.ttf") format("truetype"), 
		 url("../fonts/MuseoSans-700.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

/***************************
APLICAÇÕES GERAIS
***************************/
body {
	font-family: "Museos Sans";
	font-weight: 300;
}
a {
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
}

label {
	font-weight: 300;
	text-align: left;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 100;
}
h5, .h5 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
}
p {
	font-weight: 300;
}
.dropdown-menu {
	border: none;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
	font-weight: 300;
	padding: 10px;
}
.dropdown-menu > li {
	border-bottom: 1px solid #eee;
}
.dropdown-menu > li:last-child {
	border: none;
}
.dropdown-menu > li > a {
	color: #999;
    padding: 10px 5px;
    font-weight: 300;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background: transparent;
	color: #4bcf75;
}
ul.row {
	list-style: none;
	padding: 0;
}
/***************************
FORM
***************************/
.form-group {
	margin-bottom: 20px;
}
.control-label {
	color: #999;
}
.radio-inline, 
.checkbox-inline {
	font-weight: 300;
}
.sep-form {
	display: block;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0;
}
.leg-form-group {
	color: #999;
	font-size: 18px;
	font-weight: 100;
}
.esqueci {
	display: block;
	margin-top: 20px;
}
.lead {
	font-weight: 100;
}
.radio-inline,
.checkbox-inline {
	margin-right: 10px;
	margin-bottom: 10px;
}
.radio-inline + .radio-inline, 
.checkbox-inline + .checkbox-inline {
	margin-left: 0;
}

/***************************
BOTOES
***************************/
[class^="btn-"], 
[class*="btn-"]{
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.btn {
	font-weight: 300;
	text-transform: uppercase;
	border: none;
	padding: 9px 12px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.btn:focus,
.btn:active {
	outline: none;
}
.btn-sm, .btn-group-sm > .btn {
	padding: 5px 10px;
}
.btn-default {
	border: 1px solid #ccc;
	color: #999;
	background-color: #ffffff;
	text-transform: none;
}
.btn-default:focus,
.btn-default.focus {
  color: #666;
  background-color: #f9f9f9;
  border-color: #999;
}
.btn-default:hover {
  color: #666;
  background-color: #f9f9f9;
  border-color: #999;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #666;
  background-color: #f9f9f9;
  border-color: #999;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

.btn-facebook {
	background: #3b5998;
	color: #fff;
}
.btn-facebook:hover {
	color: #fff;
	background: #334e87;
}
.btn-facebook:focus {
	color: #fff;
	background: #2e4474;
}
.btn-facebook .i-facebook {
	margin-right: 8px;
}
.btn-facebook.btn-lg {
	font-size: 14px;
}
.btn-lg, 
.btn-group-lg > .btn {
	font-size: 16px;
	padding: 15px;
}

.btn-rmv {
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 100%;
	color: #ccc;
	font-size: 10px;
	line-height: 24px;
	padding: 0;
	height: 24px;
	width: 24px;
}
.btn-rmv:hover,
.btn-rmv:focus,
.btn-rmv:active {
	color: #FF5E4F;
	border-color: #FF5E4F;
}
.btn-round {
	border-radius: 50%;
}
.btn-sm.btn-round {
	border-radius: 15px;
	padding-right: 15px;
	padding-left: 15px;
	text-transform: uppercase;
}
.btn-lg.btn-round {
	border-radius: 25px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	text-transform: uppercase;
}
.btn-primary.btn-round {
	min-width: 200px;
}

.btn-text {
	background: none;
	border: none; 
	color: #4bcf75;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	text-transform: uppercase;
}
.btn-text:hover,
.btn-text:focus,
.btn-text:active {
	color: #33a658;
	outline: none;
}
/***************************
INPUTS
***************************/
.form-control {
	color: #666;
	height: 40px;
	box-shadow: none;
	font-weight: 300;
	padding: 10px 15px;
}
input.form-control,
textarea.form-control {
	-webkit-appearance: none;
	
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.form-control.input-lg {
	height: 46px;
    padding: 10px 16px;
    font-size: 16px;
}
.ipt-grp {
	display: table;
	width: 100%;
	margin-bottom: 20px;
}
.ipt-grp .col-ipt-grp {
	display: table-cell;
	width: auto;
}
.ipt-grp .col-sel-grp {
	display: table-cell;
	padding-right: 10px;
	vertical-align: top;
	width: auto;
}
.ipt-grp .col-sep-grp {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: auto;
}
.ipt-grp .col-sep-grp span {
	background: #f9f9f9;
	color: #999;
	display: block;
	border: 1px solid #ccc;
	border-right: none;
	line-height: 32px;
	padding: 0 5px;
}
.ipt-grp .col-ipt-grp .form-control{
	display: inherit;
	border-radius: 0;
	border-right-width: 0;
}
.ipt-grp .col-ipt-grp:first-child .form-control {
	border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
.ipt-grp .col-ipt-grp:last-child .form-control {
	border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-right: 1px solid #ccc;
}
.ipt-grp .col-ipt-grp .btn {
	border-radius: 0;
}

/* Opções de crédito */
.cdt-opt {
	margin-bottom: 15px;
}
.cdt-opt input[type="radio"] {
	display: none;
}
.cdt-opt label span {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 300;
	padding: 8px 20px;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
	
}
.cdt-opt label span:hover {
	border-color: #4bcf75;
	color: #4bcf75;
}
.cdt-opt input[type="radio"]:checked + span,
.cdt-opt input[type="radio"]:checked + span:hover {
	background-color: #4bcf75;
	border-color: #4bcf75;
	color: #fff;
}

/***************************
ALERTAS
***************************/
.alert {
  padding: 15px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
}
.alert-dismissable, 
.alert-dismissible {
	padding-right: 35px;	
}
.alert .close {
	color: #fff !important;
	font-weight: 100;
	text-shadow: none;
}
.alert-success {
  background-color: #64D575;
  color: #fff;
}
.alert-success hr {
  border-top-color: #fff;
}
.alert-success .alert-link {
  color: #fff;
}
.alert-info {
  background-color: #77CFF3;
  color: #fff;
}
.alert-info hr {
  border-top-color: #fff;
}
.alert-info .alert-link {
  color: #fff;
}
.alert-warning {
  background-color: #FFF574;
  color: #7F7F39;
}
.alert-warning hr {
  border-top-color: #7F7F39;
}
.alert-warning .alert-link {
  color: #fff;
}
.alert-danger {
  background-color: #FF5E4F;
  color: #fff;
}
.alert-danger hr {
  border-top-color: #fff;
}
.alert-danger .alert-link {
  color: #fff;
}

/***************************
HEADER PRINCIPAL
***************************/
.z-hd-01 {
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	margin-bottom: 60px;
}
.z-logo {
	margin: 0;
	padding: 0;
	float: left;
}
.z-logo a {
	background: url(../img/logo-zipster.svg) center center no-repeat;	
	color: transparent;
	display: block;
	font-size: 0;
	height: 30px;
	width: 100px;
}
.lnk-hd-01 {
	color: #999;
	font-weight: 300;
	line-height: 30px;
}
.lnk-hd-01 [class^="i-"], 
.lnk-hd-01[class*="i-"]{
	font-size: 20px;
	vertical-align: sub;
}
/*header página*/
.hd-pg {
	border-bottom: 1px solid #ddd;
	color: #666;
	margin: -60px 0 60px 0;
	padding: 30px;
	text-transform: uppercase;
}
.hd-pg h2 {
	font-size: 18px;
	font-weight: 100;
	line-height: 1.3;
	margin: 0;
}
.hd-pg strong {
	font-weight: 900;
	white-space: nowrap;
}

/* Account Menu */
.acc-menu {
	position: relative;
	height: 32px;
}
.acc-menu > a {
	color: #666;
	display: block;
	float: left;
	font-weight: 100;
}
.acc-menu > a:hover {
	color: #4bcf75
}
.acc-menu > a:after {
    content: "";
    border: 4px solid transparent;
    border-top-color: #666;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}
.acc-menu > a:hover:after {
	border-top-color: #4bcf75;
}
.mini-profile-pic {
	display: inline-block;
	height: 32px;
	line-height: normal;
	margin-right: 5px;
	position: relative;
	vertical-align: middle;
	width: 32px;
}

/***************************
CONTEUDO
***************************/
/* Paginas */
.spc-v-pag {
	min-height: 25vh;
}

/* Painel restaurante */
.pnl-rest {
	background:#f9f9f9;
	border-radius: 3px;
	border: 1px solid transparent;
	color: #444;
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 60%;
	position: relative;	
	width: 100%;
}
.pnl-rest:hover {
	border-color: #4ACF74;
}
.pnl-rest .capa-rest {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.logo-pnl {
	border-radius: 3px;
	bottom: 50%;
	height: auto;
	left: 30px;
	overflow: hidden;
	position: absolute;
	width: 30%;
	max-width: 150px;
}
.info-pnl-rest {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 0px 0px 3px 3px;
	bottom: -1px;
	min-height: 40%;
	left: 0;
	padding: 30px;
	padding-left: calc(30% + 60px);
	position: absolute;
	width: 100%;	
}
.info-pnl-rest p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.dtl-rest > span {
	color: #666;
	display: block;
	font-weight: 100;
	line-height: 1.6;
}

/*Painel restaurante 3 col*/
.col-md-4 .pnl-rest {
	padding-bottom: 72%;
}
.col-md-4 .pnl-rest .logo-pnl {
	bottom: 50%;
	left: 20px;
	width: 30%;
	max-width: 150px;
}
.col-md-4 .pnl-rest .info-pnl-rest {
	padding: 20px;
	padding-left: calc(30% + 40px);
}

/*Tabela lg*/
.table-lg {
	font-weight: 300;
}
.table-lg > thead > tr > th, 
.table-lg > tbody > tr > th, 
.table-lg > tfoot > tr > th, 
.table-lg > thead > tr > td, 
.table-lg > tbody > tr > td, 
.table-lg > tfoot > tr > td {
	padding: 20px 10px;
}
.table-lg > thead > tr > th:first-child, 
.table-lg > tbody > tr > th:first-child, 
.table-lg > tfoot > tr > th:first-child, 
.table-lg > thead > tr > td:first-child, 
.table-lg > tbody > tr > td:first-child, 
.table-lg > tfoot > tr > td:first-child {
	padding-left: 0;
}
.table-lg > thead > tr > th:last-child, 
.table-lg > tbody > tr > th:last-child, 
.table-lg > tfoot > tr > th:last-child, 
.table-lg > thead > tr > td:last-child, 
.table-lg > tbody > tr > td:last-child, 
.table-lg > tfoot > tr > td:last-child {
	padding-right: 0;
}
.table-lg > thead > tr > th {
	border-width: 1px;
	color: #999;
	font-size: 12px;
	font-weight: 300;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
}

/*Itens / Produtos*/
.prc {
	font-size: 16px;
	font-weight: 500;	
}
.ctn-ipt-qtd {
	display: inline-block;
	max-width: 65px;
	width: auto;	
}
small.rsm-pdt {
	color: #999;
}

/***************************
MODAL
***************************/
.modal {
	font-weight: 300;
}
.modal .close-modal {
    background: none;
    border-radius: 100%;
    box-sizing: content-box;
    border: 1px solid #666;
    color: #666;
    font-size: 14px;
    float: none;
    height: 28px;
    line-height: 28px;
    margin-top: 2px;
    opacity: 0.2;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 28px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    
}
.modal .close-modal:hover {
	opacity: 0.6;
}
.modal-content {
	border: none;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);
}

/* Modal conta */
.modal-acc {
	color: #666;
	font-weight: 300;
	text-align: center;
}
.modal-acc label {
	text-align: left;
}
.modal-acc .modal-content {
	padding: 60px 40px;
}
.modal-acc .modal-title {
	font-size: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.modal-acc .modal-body {
	padding: 0;
}

/***************************
FOOTER
***************************/
.z-ft-01 {
	margin-top: 60px;
}
.z-ft-nav {
	background: #F9F9F9;
	padding: 40px 0;
	width: 100%;
}
.lnks-ft h6,
.lnks-social h6 {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.lnks-ft > ul {
	list-style: none;
	padding: 0;
}
.lnks-ft > ul > li {
	margin-bottom: 10px;
}
.lnks-ft a {
	color: #666;
	display: block;
	font-weight: 300;
}
.lnks-ft a:hover {
	color: #4bcf75;
}
.lnks-social a {
	background: #ccc;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}
.lnks-social a > span {
	line-height: 32px;
}
.lnks-social a:hover,
.lnks-social a:active,
.lnks-social a:focus {
	background: #999;
}
.z-ft-copy {
	color: #999;
	line-height: 1.8;
	padding: 40px 0;
}
.z-ft-copy a {
	color: #666;
}
.z-ft-copy a:hover {
	color: #4bcf75;
}

/***************************
FUNCIONAIS
***************************/
.m-top {
	margin-top: 20px;
}
.m-bottom {
	margin-bottom: 20px;
}

/***************************
JQUERY UI
***************************/
.ui-widget-content {
	border-color: #ddd;
	width: 100%;
}
.ui-spinner-input {
	color: #666;
	font-size: 14px;
	font-weight: 300;
	margin: .5em 0;
	margin-left: .5em;
    margin-right: 22px;
}
.ui-spinner-input:focus {
	outline: none;
}
.ui-widget-content a {
	color: #ccc;
}
.ui-spinner .ui-icon {
	opacity: 0.4;
	width: 20px;
}
.ui-corner-tr {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.ui-corner-br {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.ui-spinner-button {
	width: 20px;
}
.ui-icon-triangle-1-n {
    background-position: 2px -16px;
}
.ui-spinner .ui-icon-triangle-1-s {
    background-position: -63px -16px;
}