@font-face {
    font-family: 'zipster';
    src:    url('fonts/zipster.eot?646ryv');
    src:    url('fonts/zipster.eot?646ryv#iefix') format('embedded-opentype'),
        url('fonts/zipster.ttf?646ryv') format('truetype'),
        url('fonts/zipster.woff?646ryv') format('woff'),
        url('fonts/zipster.svg?646ryv#zipster') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'zipster' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-express:before {
    content: "\e908";
}
.i-filter:before {
    content: "\e909";
}
.i-pin:before {
    content: "\e90a";
}
.i-shop:before {
    content: "\e90b";
}
.i-arrow-left:before {
    content: "\e907";
}
.i-remove:before {
    content: "\e906";
}
.i-r-rang:before {
    content: "\e905";
}
.i-enter:before {
    content: "\e900";
}
.i-clock:before {
    content: "\e901";
}
.i-facebook:before {
    content: "\e902";
}
.i-instagram:before {
    content: "\e903";
}
.i-twitter:before {
    content: "\e904";
}

